.todo-card {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.todo-icons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-left: auto;
}

.todo-title {
  margin: 5px;
}
